

{% extends "ET_Cust/base_nav.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans 'My Wallet' %}{% endblock %}

{% block  title %}dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="border-top: solid; border-color: #e98520;">
                <p>Money</p>
                <h1>{{ customer.available_balance }} Available</h1>
                <h4>{{ customer.frozen_balance }} Under Processing</h4>
                {{ k }}
            </div>
            <div class="col-lg-12" style="margin-top: 5%;">
                <a class="btn btn-primary"
                   style="width:100%; background-color: #ffa312;border-width: 1px; color:  #fafeff; border-color:white"
                   href=" "><h4>Top Up Now</h4></a>
            </div>
        </div>
    </div>
{% endblock %}
