{% extends "ET_Cust/base_nav.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans 'My Wallet' %}{% endblock %}

{% block  title %}dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" >

            <h1>{{ customer.available_balance }} Available</h1>
            </br>
            <h4>{{ customer.frozen_balance }} Under Processing</h4>
            {{ k }}
            </br>
            </br>
            <a class="btn btn-primary"
               style="font-size: 25px; width:900px; background-color: #ffb411; border-color: transparent"
               type="submit">Top Up now</a>
        </div>
    </div>
    </div>
{% endblock %}
