

{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block  title %} dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="border: dashed;">
            <div class="col-lg-6">
                {{ address }}
                <a href="{% url 'cust_search' %}"> Switch Place</a>
            </div>
            <div class="col-lg-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Welcome, User!
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Notification (3)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">My Order</a></li>
                        <li><a href="">My Favourites</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Profile & Wallet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" style="border: dashed; margin-top: 3%;">
            <div class="col-lg-3">
                <label>Picture: LOGO</label>
            </div>
            <div class="col-lg-9">
                {% crispy form %}
            </div>
        </div>

        <div class="row" id="sort" style="margin-top: 3%; border-bottom: dashed;">
            <div class="col-lg-12">
                <button>Default</button>
                <!-- <button>Distance</button> -->
                <button>Popularity</button>
                <button>Activate</button>
            </div>
        </div>


        {% if restaurant_list %}
            {% for restaurant in restaurant_list %}
                <div class="row" style="border-bottom: dashed; margin-top: 3%;">
                    <div class="col-lg-3">
                        <h3>LOGO</h3>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>{{ restaurant.name }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>{{ restaurant.address }}</p>
                                <!-- <p>Distance {{ restaurant.distance }}</p> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Min. Delivery: ${{ restaurant.restaurantserviceinfo.min_delivery }} Delivery Fee:
                                    ${{ restaurant.restaurantserviceinfo.delivery_fee }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p>Current Group: {{ restaurant.group_set.count }}</p>
                    </div>
                    <div class="col-lg-3">

                        <div class="row">
                            <input id="{{ restaurant.id }}" type="checkbox">
                        </div>

                        <div class="row">
                            <a href="{% url 'cust_restaurant_group' restaurant.id %}">Group Now!</a>
                        </div>
                        <div class="row">
                            <p>Monthly Sale: 999</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row" style="border-bottom: dashed; margin-top: 3%;">
                <h1>Opps, we can't find this restaurant.</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}


<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li><a href="#">First</a></li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Last</a></li>
        </ul>
    </nav>
</div>

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            check_favorite();

            {% for restaurant in restaurant_list %}
            $("#{{ restaurant.id }}").change(function () {
               var url;
                if ($(this).is(":checked")) {
                    url = "{% url 'add_favorite' restaurant.id %}";
                    $.get(url, function (data) {
                        alert(data)
                        if (data == "Please log in first."){
                            $("#{{ restaurant.id }}").attr('checked', false);
                        }
                    });
                }
                else {
                    url = "{% url 'delete_favorite' restaurant.id %}";
                    $.get(url,function (data) {
                        alert(data)
                        if (data == "Please log in first."){
                            $("#{{ restaurant.id }}").attr('checked', false);
                        }
                    });
                }
            });
            {% endfor %}
        });

        function check_favorite() {
            {% for restaurant in restaurant_list %}
                {% for customer_all in restaurant.customer_set.all %}
                    {% if customer_all == customer %}
                        $("#{{ restaurant.id }}").attr("checked", true);
                    {% endif %}
                {% endfor %}
            {% endfor %}
        }

    </script>
{% endblock %}