

{% extends "ET_Cust/base_nav.html" %}

{% load i18n %}
{% load static %}
{% load mathfilters %}

{% block head_title %}My Orders{% endblock %}

{% block  title %} dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 3%;">
            {% for order in order_list %}
                <div class="row" style="border-bottom: dashed;">
                    <div class="col-lg-3" style="border: dashed;">
                        <h2>Picture:LOGO</h2>
                    </div>
                    <div class="col-lg-4">
                        <h2>{{ order.group.restaurant.name }}</h2>
                        <p>Order ID: {{ order.id }}</p>
                        <p>Group ID: {{ order.group.id }}</p>
                    </div>
                    <div class="col-lg-5">
                        <p>Contact Number: {{ order.group.restaurant.contact_number }}</p>
                        <p>Order Time: {{ order.order_time }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row" style="border-bottom: dashed">
                            <div class="col-lg-12" style="border-bottom: dashed">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Food Name</th>
                                        <th>Count</th>
                                        <th>Unit</th>
                                        <th>Total</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for orderfood in order.orderfood_set.all %}
                                        <tr>
                                            <th>{{ orderfood.food.name }}</th>
                                            <th>{{ orderfood.count }}</th>
                                            <th>{{ orderfood.food.price }}</th>
                                            <th>{{ orderfood.food.price|mul:orderfood.count }}</th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12">
                                <p>Name: {{ order.customer.user.first_name }} {{ order.customer.user.last_name }}</p>
                                <p>Contact: {{ order.customer.phone_number }}</p>
                            </div>
                        </div>
                        <div class="row"></div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Group Info</h3>
                        <p>Delivery Destination</p>
                        <p>{{ order.group.destination }}</p>
                        <p>Delivery Fee: {{ order.group.restaurant.restaurantserviceinfo.delivery_fee }}</p>
                        <p>Min. Delivery: {{ order.group.restaurant.restaurantserviceinfo.min_delivery }}</p>
                    </div>
                    <div class="col-lg-4">
                        <table>
                            <tbody>
                            <tr>
                                <th>Group Created</th>
                                <th>{{ order.group.create_time }}</th>
                            </tr>
                            <tr>
                                <th>Group Time Expired</th>
                                <th>{{ order.group.create_time|add:order.group.group_time }}</th>
                            </tr>
                            <tr>
                                <th>Order Accepted by Restaurant</th>
                                <th>yyyy-MM-dd hh:mm</th>
                            </tr>
                            <tr>
                                <th>Delivery Started</th>
                                <th>yyyy-MM-dd hh:mm</th>
                            </tr>
                            <tr>
                                <th>Delivery Confirm</th>
                                <th>yyyy-MM-dd hh:mm</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
