

{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block  title %} dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="border-bottom: dashed;margin-bottom: 1%;">
            <div class="col-lg-6">
                Current Selected Place
                <a herf="#">  Switch Place</a>
            </div>
            <div class="col-lg-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Welcome, User!
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Notification (3)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "customer account order" %}">My Order</a></li>
                        <li><a href="{% url "customer account favourite" %}">My Favourites</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "customer account profile&wallet" %}">Profile & Wallet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "customer login" %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" style="border-bottom: dashed; padding-bottom: 2%;">
            <div class="col-lg-3">
                <label>Picture: LOGO</label>
            </div>
            <div class="col-lg-9">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>

        <div class="row" style="border-bottom: dashed;">
            <div class="col-lg-4">
                <h3>LOGO</h3>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-9">
                        <h6>Restaurant Name</h6>
                    </div>
                    <div class="col-lg-3">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="border-top: dashed; height: 50%;">
                        <h3>Lalalalalalalalalalalalala</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row" style="border-bottom: dashed;">
                            <div class="col-lg-6"><button><a href="{% url "customer restaurant page group" %}">Group(7)</a></button></div>
                            <div class="col-lg-6"><button><a href="{% url "customer restaurant page menu" %}">Menu</a></button></div>
                        </div>
                        <div class="row" style="border-bottom: dashed;">
                            <div class="col-lg-4">
                                <h3>Destination</h3>
                                <p>About xx meters from your place</p>
                            </div>
                            <div class="col-lg-4">
                                <p>xxx people, $xxx in total</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>14 mins remain</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button"><a href="{% url "customer restaurant page menu" %}">Join Now!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div >
                        <div class="row" style="border-bottom: dashed;">
                            <div class="col-lg-4">
                                <h3>Destination</h3>
                                <p>About xx meters from your place</p>
                            </div>
                            <div class="col-lg-4">
                                <p>xxx people, $xxx in total</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>14 mins remain</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button"><a href="{% url "customer restaurant page menu" %}">Join Now!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="border-bottom: dashed;">
                            <div class="col-lg-4">
                                <h3>Destination</h3>
                                <p>About xx meters from your place</p>
                            </div>
                            <div class="col-lg-4">
                                <p>xxx people, $xxx in total</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>14 mins remain</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button"><a href="{% url "customer restaurant page menu" %}">Join Now!</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row" style="border-bottom: dashed; padding-top: 10%;">
                            <div class="col-lg-12">
                                <h6>Announcement</h6>
                                <p>xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Min Delivery: $10</p>
                                <p>Delivery Fee: $5</p>
                                <h6>Activities and Discounts</h6>
                                <p>xxxxxxxxxxxxxxxxxxxxxx</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li><a href="#" >First</a></li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Last</a></li>
        </ul>
    </nav>
</div>