{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block body %}
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Given Name" required>
            <input type="text" class="form-control" id="name" placeholder="Family Name" required>
        </div>
        <div class="form-group">
            <label for="phonenumber">Phone Number:</label>
            <input type="number" class="form-control" id="phonenumber"  placeholder="Phone Number" required>
            <button>Send Verify SMS</button>
        </div>
        <div class="form-group">
            <label for="verifycode">Verify Code:</label>
            <input type="number" class="form-control" id="verifycode"  placeholder="Verify Code" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password"  placeholder="Password" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <h3>I'm not a robot!</h3>
                </div>
                <div class="col-lg-9">
                    <button>Register and EAT！</button>
                </div>
            </div>

            <p>More details for saving your time when you check out</p>
        </div>
        <div class="form-group" style="width: 30%;">
            <label>More details for saving your time when you check out</label>
            <input type="text" class="form-control" id="suburb"  placeholder="Suburb">
            <input type="text" class="form-control" id="postcode"  placeholder="Postcode">
            <input type="text" class="form-control" id="address"  placeholder="Address">
        </div>
    </form>
{% endblock %}
