{% extends "ET_Cust/base_no_topbar.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% crispy form %}
        </div>

        {% if password_reset_url %}
            <div class="Retrive_Password">
                <p align="center">
                    <a input style="font-family: Calibri;line-height: 20px; color: #101010"> Don't worried if you </a>
                    <a input style="font-family: Calibri;line-height: 20px" href="{{ password_reset_url }}"
                       class="btn btn-link">forget password.</a>
                </p>
            </div>
        {% endif %}

        {% if signup_url %}
            <div class="Register">
                <p align="center">
                    <a input style="font-family: Calibri;line-height: 20px; color: #101010"> Not a member yet? </a>
                    <a input style="font-family: Calibri;line-height: 20px" href="{{ signup_url }}">Register
                        now for free!</a>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </p>
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_{{ form.identifier_field }}').focus();
        });
    </script>
{% endblock %}
