{% extends "ET_Cust/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block  title %} dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        </br>

        <div class="row">
            <div class="col-sm-12">{% crispy form %}</div>
        </div>
        </br>

        {% if restaurant_list %}
            {% for restaurant in restaurant_list %}
                <div class="row" style="padding-bottom: 40px">
                    <div class="col-sm-8" style="border: 4px #e98520;border-top-style: solid;">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{ restaurant.logo.url }}" width="100%" class="pull-left"/>
                                </br>
                            </div>
                            <div class="col-sm-6">
                                </br>
                                </br>
                                </br>
                                <p style="font-size: 30px; color: #ffb725">{{ restaurant.name }}</p>
                                <p>{{ restaurant.address }}</p>
                            </div>
                            <div class="col-sm-3">
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <p>Min. Delivery: ${{ restaurant.restaurantserviceinfo.min_delivery }} Delivery Fee:
                                    ${{ restaurant.restaurantserviceinfo.delivery_fee }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4"
                         style="border: 1px #f9cf7b;border-top-style: solid;background-color: #ec971f; border-radius: 3%"
                         id="groupNow">
                        <div class="container-fluid">
                        <br/>
                        <p style="color: white; font-size: 30px">
                            Current Group: <span
                                id="current_group_{{ restaurant.id }}">{{ restaurant.check_active_group }}</span>
                        </p>
                        <br/>
                        <p>
                            <a class="btn btn-primary"
                               style="background-color: white;width:100%; border-color: transparent; color: orange; font-size: 25px"
                               href="{% url 'cust_restaurant_group' restaurant.id %}">
                                Group Now!
                            </a>
                        </p>
                        <div class="row">
                            <label class="pull-right"><span class="glyphicon glyphicon-heart"></span>
                                <input name="favourite" style="display:none;"
                                       data-id='{{ restaurant.id }}'
                                       data-url-favourite-add="{% url 'add_favorite' restaurant.id %}"
                                       data-url-favourite-delete="{% url 'delete_favorite' restaurant.id %}"
                                       type="checkbox">Favourite
                            </label>
                        </div>
                            </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-lg-12" id="opps"
                     style="padding-top: 3%; border-top: solid; border-color: #e98520; margin-top: 3%;">
                    <h1>Opps, we can't find this restaurant.</h1>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            check_favorite();
            count_current_group();

            $("input[name='favourite']").change(function () {
                var cb = $(this);
                var url;
                if (cb.is(":checked")) {
                    url = cb.attr('data-url-favourite-add');
                    $.get(url, function (data) {
                        alert(data)
                        if (data == "Please log in first.") {
                            cb.attr('checked', false);
                        }
                    });
                }
                else {
                    url = cb.attr('data-url-favourite-delete');
                    $.get(url, function (data) {
                        alert(data)
                        if (data == "Please log in first.") {
                            cb.attr('checked', false);
                        }
                    });
                }
            });
        });

        function check_favorite() {
            {% for restaurant in restaurant_list %}
                {% for customer_all in restaurant.customer_set.all %}
                    {% if customer_all == customer %}
                        $($("input[name='favourite'][data-id='{{ restaurant.pk }}']")).attr("checked", true);
                    {% endif %}
                {% endfor %}
            {% endfor %}
        }

        function count_current_group() {
            {% for restaurant in restaurant_list %}
                var url;
                url = "{% url 'count_current_group' restaurant.id %}"
                $.get(url, function (data) {
                    $("#current_group_{{ restaurant.id }}").html(data);
                })
            {% endfor %}
            setTimeout(count_current_group, 5000)
        }
    </script>
{% endblock %}