{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Search" %}{% endblock %}

{% block body %}
    {{ top_up_information }}
    {% if orderfood_list %}
    {% for orderfood in orderfood_list %}
        <label>Name:</label>{{ orderfood.food.name }}<label>Quantity:</label>{{ orderfood.count }}<br>
    {% endfor %}
    <label>Delivery Fee:</label>{{ delivery_fee }}<br>
    <label>Frozen Price:</label>{{ price }}<br>


    {{ item_name_1 }}{{ quantity_1 }}<br>
    {{ item_name_2 }}{{ quantity_2 }}
    {% endif %}




{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}