{% extends "ET_Cust/base_restaurant.html" %}

{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "shopping_cart/css/reset.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "shopping_cart/css/paypalshop.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "shopping_cart/fancybox/jquery.fancybox-1.3.4.css" %}"/>
    {{ block.super }}
    <style type="text/css">
        .wrapper {
            width: 800px;
            margin: 50px auto;
        }
    </style>
{% endblock %}

{% block restaurant_content %}
    <div class="wrapper" style="border-top: solid; border-color: #e98520; float: left;">
    <div>
        <p style="color: #e98520;">
            PayPal Checkout
        </p>
    </div>
        <!-- #PayPal Shop# (START) -->
        <div id="payPalShop" class="paypalshop">
            <div class="shop-logo">

            </div>
            <!-- #Products# -->
            <div class="shop-products">
                <!-- start group 1 -->
                <ul id="Menu">
                    {% if food_list %}
                        {% for food in food_list %}
                            <li class="product" name="{{ food.name }}" price="{{ food.price }}">
                                <a class="product-image fancybox" href="{{ food.picture.url }}" title="Picture 4">
                                    <img src="{{ food.picture.url }}" alt="Preview" width="100%" height="70%"/>
                                    <div class="text-overlay" style="width: 100%">
                                        <p class="product-heading">
                                            Description
                                        </p>
                                        {{ food.introduction }}
                                    </div>
                                </a>
                                <p class="product-heading">
                                    {{ food.name }}
                                </p>
                                <a href="#" class="product-buy">
                                    Buy Now
                                </a>
                                <div class="product-price"><span class="product-currency">$</span>
                                    {{ food.price }}
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <!-- end group 1-->
            </div>
        </div>
        <!-- #PayPal Shop# (END) -->
    </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "shopping_cart/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "shopping_cart/js/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "shopping_cart/js/jquery.paypalshop.js" %}"></script>
    <script type="text/javascript" src="{% static "shopping_cart/fancybox/jquery.mousewheel-3.0.4.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "shopping_cart/fancybox/jquery.fancybox-1.3.4.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ppshop').paypalshop({
                currencySign: '$',
                productBuyLimit: '999',
                checkoutURL: "{% url 'cust_restaurant_checkout' restaurant.id group %}",
                CSRF: "{% csrf_token %}"
            });
            /* fancybox */
            $('.fancybox').fancybox({'titlePosition': 'inside'});
        })
    </script>
{% endblock %}