

{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block head_title %}Login{% endblock %}

{% block  title %} dsafdasfadfa{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="border: dashed;">
            <div class="col-lg-6">
                <p>Current Selected Place</p>
                <a href="{% url 'cust_search' %}"> Switch Place</a>
            </div>
            <div class="col-lg-6">
                <button>Welcome, User!</button>
            </div>
        </div>

        <div class="row" style="border: dashed;">
            <div class="col-lg-3" id="restaurant_logo">
                <h1>Picture: LOGO</h1>
            </div>
            <div class="col-lg-9" id="search_bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
        </div>

        <div class="row" style="border: dashed;">
            <div class="col-lg-4">
                <h3>LOGO</h3>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-9">
                        <h6>Restaurant Name</h6>
                    </div>
                    <div class="col-lg-3">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="border: dashed; height: 50%;">
                        <h3>Lalalalalalalalalalalalala</h3>
                    </div>
                </div>
            </div>
        </div>

        <form action="." method="post">
            {% csrf_token %}
            {{ form|bootstrap}}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}