
{% extends "ET_Cust/base_cust.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-lg-12"><h1 style="color: #febd2b; text-align: center;">Customer Login</h1>
    </div>
        <div class="col-lg-12" style="padding-top: 3%; padding-bottom: 1%;">
            {% include "ET/login_form.html" %}
        </div>
        <div class="col-lg-12">
            {% include "account/_login_sidebar.html" %}  {% comment %}empty template????{% endcomment %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_{{ form.identifier_field }}').focus();
        });
    </script>
{% endblock %}
