{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form>
                {{ form|bootstrap }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_{{ form.identifier_field }}').focus();
        });
    </script>
{% endblock %}