<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Customer Retrieve Password</title>
</head>

<body>
<div class="contain">
  <div align="center" class="retrievepassword">
    <h3>Retrieve password</h3>
  </div>
  <div align="center" class="phonenumber">
    <p>Phone Number</p>
  </div>
  <div align="center" class="inputphonenumber"><input type="password" required placeholder="Phone Number"></div>
  <div align="center" class="img"><img src="../not%20a%20robot.jpg" alt="" width="160" height="48"> </div>
  <div align="center" class="next"><input type="submit" value="Next">
  </div>
</div>
</body>
</html>
