<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Customer Login</title>
</head>

<body>
<div class="contain">
  <div class="ownerPhoneNumber" align="center"><input type="text" required placeholder="Owner Phone Number"></div>
<div align="center" class="password"><input type="password" required placeholder="Password"></div>
  <div align="center" class="rememberme">
    <div class="checkbox" float="left"><input type="checkbox" checked> remember me  <a href="#">Forgot Password</a></div>
  </div>
  <div class="login" align="center"><input type="submit" value="Login">
  </div>
  <div align="center" class="registernowforfree">
    <div class="checkbox" float="left">Not a member yet?<a href="#">Register now for free!</a></div>
  </div>
</div>
</body>
</html>
