<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Customer Register</title>
</head>

<body>
<div class="container">
  <div class="register"><h3>Register</h3></div>
  <div class="name"><p>Name</p></div>
  <div class="inputname">
    <div class="givenname"><input type="text" required placeholder="Given Name"></div>
    <div class="familyname"><input type="text" required placeholder="Family Name"></div>
  </div>
  <div class="phonenumber">
    <p>Phone Number</p>
  </div>
  <div class="inputphonenumber">
    <div class="phonenumber" width="50%" float="left">
      <input type="text" required placeholder="Phone Number">
   </div>
    <div class="sendverifysms" width="40%" float="left">
      <button >Send Verify SMS</button>
    </div>
  </div>
  <div class="verfitycode">
    <p>Verify Code</p>
  </div>
  <div class="inputverifycode">
    <input type="text" placeholder="Verify Code">
  </div>
  <div class="password">
    <p>Password</p>
  </div>
  <div class="inputpassword">
    <input type="password">
  </div>
  <div class="registerbutton">
    <div class="picture"><img src="../Test Image.jpeg" alt="" width="50" height="50"></div>
    <div class="button">
      <button>Register and EAT!</button>
    </div>
</div>
  <div class="moredetails">
    <p class="moredetails">More details for saving your time when you check out</p>
  </div>
  <div class="inputaddress">
    <div class="inputsuburb">
      <input type="text" placeholder="Subrub">
    </div>
    <div class="inputpostcode">
      <input type="text" placeholder="Postcode">
    </div>
  </div>
  <div class="inputmoredetails">
    <input type="text" placeholder="Address">
  </div>
</div>
</body>
</html>
