<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color:#FFF; height:800px;float:left;">
	<div style="background-color:#FFF; width:800px; height:100px;float:left;">
    	<div style="background-color:#FFF; width:400px; height:100px;float:left;">
        	<p>Current Place  <a href="http://www.google.com.au">Switch Place</a></p>
        </div>
        <div style="background-color:#FFF; width:400px; height:100px;float:left;">
            <input type="submit" value="Welcome, User"/>
        </div>
    </div>
    <div style="background-color:#FFF; width:800px; height:100px;float:left;">
    	<div style="background-color:#FFF; width:200px; height:100px;float:left;">
        </div>
        <div style="background-color:#FFF; width:600px; height:100px;float:left;">
        	<form id="search-form">
                <input type="text" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div style="background-color:#FFF; width:800px; height:auto;float:left;">
    	<div style="background-color:#FFF; width:100px; height:600px;float:left;">
        </div>
        <div style="background-color:#FFF; width:700px; height:600px;float:left;">
        	<div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
                        <p>Location</p><br>
                        <p>Distance ***</p>
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
                        <p>Min.Delivery: ***</p>
                        <p>Delivery Fee: ***</p>
           		    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:350px; height:200px;float:left;">
           	    <div style="background-color:#FFF; width:100px; height:200px;float:left;">
                	picture
                </div>
                <div style="background-color:#FFF; width:250px; height:600px;float:left;">
                	<div style="background-color:#FFF; width:250px; height:200px; float:left;">
                    	<p>Restaurant Name</p><input type="checkbox">Like
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                    <div style="background-color:#FFF; width:250px; height:200px;float:left;">
           		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>