<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="background-color:#FFF; width:800px; height:1000px;">
   	    <div style="background-color:#FFF; width:400px; height:50px; float:left;">
            <tr>
                <td>Current selected place</td>
                <td><a href="http://www.google.com.au">Switch place</a></td>
            </tr>
        </div>
        <div style="background-color:#FFF; width:400px; height:50px; float:left;">Welcome User!</div>
        <div style="background-color:#FFF; width:200px; height:100px; float:left;">图片</div>
        <div style="background-color:#FFF; width:600px; height:100px; float:left;">
            <form method="get" id="searchform" action="http://google.com.au/">
                <fieldset class="search">
                     <input type="text" name="Search" placeholder="Search" >
                      <input type="button" value="Google" name="Search" style="width:90px;height:30px;">
                </fieldset>
            </form>
        </div>

            <div style="background-color:#FFF; width:800px; height:100px; float:left;">
                <tr>
                    <td><input type="submit" name="Login" value="Default"/></td>
                    <td><input type="submit" name="Login" value="Distance"/></td>
                    <td><input type="submit" name="Login" value="Popularity"/></td>
                    <td><input type="submit" name="Login" value="Active"/></td>
                </tr>
            </div>
            <div style="background-color:#FFF; width:800px; height:300px; float:left;">
                <div style="background-color:#FFF; width:100px; height:300px; float:left;">
                    picture
                </div>
                <div style="background-color:#FFF; width:400px; height:300px; float:left;">
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <h3>Restaurant Name</h3>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Location</p><br>
                        <p>Distance **</p>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Min.Delivery:**</p>
                        <p>Delivery Fee:**</p>
                    </div>
                </div>
                <div style="background-color:#FFF; width:300px; height:300px; float:left;">
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <input type="checkbox" name="Like" />
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <input type="submit" name="GroupNow" value="Group Now!"/>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Monthly sale: ***</p>
                    </div>
                </div>
            </div>
            <div style="background-color:#FFF; width:800px; height:300px; float:left;">
                <div style="background-color:#FFF; width:100px; height:300px; float:left;">
                    picture
                </div>
                <div style="background-color:#FFF; width:400px; height:300px; float:left;">
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <h3>Restaurant Name</h3>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Location</p><br>
                        <p>Distance **</p>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Min.Delivery:**</p>
                        <p>Delivery Fee:**</p>
                    </div>
                </div>
                <div style="background-color:#FFF; width:300px; height:300px; float:left;">
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <input type="checkbox" name="Like" />
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <input type="submit" name="GroupNow" value="Group Now!"/>
                    </div>
                    <div style="background-color:#FFF; width:400px; height:100px; float:left;">
                        <p>Monthly sale: ***</p>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>