<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style=" border:1px solid #000;">
        <div style="float: left; width: 50%; border:1px solid #000;"><p>Current selected place <a href="http://www.google.com.au">Switch place</a></td></p></div>
        <div style=" align:right;float: left; border:1px solid #000;">
            <tr><td><a href="http://www.google.com.au">Welcome, USER!</a></td></tr>
            <tr><td><a href="http://www.google.com.au">Notification</a></td></tr>
            <tr><td><a href="http://www.google.com.au">My Order</a></td></tr>
            <tr><td><a href="http://www.google.com.au">My Favourites</a></td></tr>
            <tr><td><a href="http://www.google.com.au">Profile&Wallet</a></td></tr>
            <tr><td><a href="http://www.google.com.au">Logout</a></td></tr>
        </div>
    </div>
</body>
</html>