{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Order Detail{% endblock %}

{% block body %}
    <div class="row" style="background-color:lightslategrey">
        <a class="btn btn-default" aria-label="Left Align" href="{% url 'cour_order' %}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back
        </a>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <div class="row">Destination:</div>
                    <div class="row">
                        {{ order.group.destination }}
                    </div>
                </div>
                <div class="col-xs-3">
                    <div style="text-align:right;">
                        <span class="glyphicon glyphicon-map-marker  fa-2x" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                &nbsp;Delivery Time: {{ order.delivery_start_time }}
            </div>
            <br>
            <div style="text-align:right;">
                <a class="btn btn-default">Send Notification</a>
                <hr>
            </div>
        </div>
    </div>
    <div class="list-group">
        {% for order_p in order.personal_orders %}
            <div style="border:1px solid #ffa82f" class="list-group-item {% if order_p.finished %}disabled{% endif %}">
                <div class="container">
                    <div class="row">
                        {{ order_p.customer.user.first_name }}
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="row">
                                Contact Number:
                                <br>
                                {{ order_p.customer.phone_number }}

                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div style="text-align:right;" class="row">
                                <span class="glyphicon glyphicon glyphicon-earphone fa-2x" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-group">
                            {% for food in order_p.foods %}
                                <li class="list-group-item">{{ food.food.name }} * {{ food.count }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div style="text-align:left;" class="row row-no-margin">
                        {% if order_p.finished %}
                            {% if order_p.undelivered %}
                                <a class="btn btn-danger disabled">Undelivered</a>
                            {% else %}
                                <a class="btn btn-default pull-right disabled">Delivered</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-danger"
                               href="{% url 'cour_order_undelivered' order.pk order_p.pk %}">Undelivered</a>
                            <a class="btn btn-default pull-right"
                               href="{% url 'cour_order_delivered' order.pk order_p.pk %}">Delivered</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}