{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap %}

{% block head_title %}Courier Login{% endblock %}

{% block body %}
    <form>
        <input type="number" name="Owner Phone Number"placeholder="Owner Phone Number"><br>
        <input type="number" name="Courier ID"placeholder="Courier ID"><br>
        <input type="password" name="Password"placeholder="Password"><br>
        <input type="checkbox" name="remember" value="check"> Remember me<br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
