{% extends "theme_bootstrap/subnav_base.html" %}

{% load i18n %}
{% load static %}

{% block body_class %}owner{% endblock %}

{% block topbar_base %}
    <div class="container"
         style="background: url('{{ STATIC_URL }}img_owner/back_title_2.jpg') right bottom no-repeat;background-size: cover; height: 200px;position:relative;">
        <img src="{% static "img_owner/brand_et_piconly.png" %}" height="26" class="pull-right"/>
        <span style="font-family: Calibri; color:  #f6ae09; font-size: 100%" class="pull-right">EaTogether - Eat
            Now, Eat Together - {% block topbar_label %}{% endblock %}</span>
    </div>
{% endblock %}

{% block subnav %}
    <div id="nav">
        <div class="btn-group-vertical" role="group" aria-label="information list">
            <a href="{% url 'owner_order_list' %}" class="btn btn-primary"
               style=" width: 200px;padding: 10px;background-color: #ffb725; border-color: #fcf8e3; border-radius: 10%;">
                <span style="color:#fcf8e3" aria-hidden="true" class="glyphicon glyphicon-cutlery"></span>
                <span style="font-family: Calibri; font-size: 150%; color: #fcf8e3;">My Order</span>
            </a>
            <a href="{% url 'owner_edit_restaurant' %}" class="btn btn-primary"
               style="width: 200px;padding: 10px;background-color: #ffb725; border-color: #fcf8e3; border-radius: 10%">
                <img src="{% static "img_owner/brand_et_button.png" %}" height="25"/>
                <span style="font-family: Calibri; font-size: 150%; color: #fcf8e3">My Restaurant</span>
            </a>
            <a href="{% url 'owner_menu' %}" class="btn btn-primary"
               style="width: 200px;padding: 10px;background-color: #ffb725; border-color: #fcf8e3; border-radius: 10%">
                <span style="color:#fcf8e3" aria-hidden="true" class="glyphicon glyphicon-list-alt"></span>
                <span style="font-family: Calibri; font-size: 150%; color: #fcf8e3"> My Menu </span>
            </a>
            <a href="{% url 'owner_courier' %}" class="btn btn-primary"
               style="width: 200px;padding: 10px;background-color: #ffb725; border-color: #fcf8e3; border-radius: 10%">
                <span style="color:#fcf8e3" aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                <span style="font-family: Calibri; font-size: 150%; color: #fcf8e3"> Delivery</span>
            </a>
            <a href="{% url 'owner_wallet' %}" class="btn btn-primary"
               style="width: 200px;padding: 10px;background-color: #ffb725; border-color: #fcf8e3; border-radius: 10%">
                <span style="color:#fcf8e3" aria-hidden="true" class="glyphicon glyphicon-usd"></span>
                <span style="font-family: Calibri; font-size: 150%; color: #fcf8e3">Wallet</span>
            </a>
        </div>

    </div>
{% endblock %}
