{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
    <div class="row-no-padding">
        <div class="container-fluid">
            <div class="row">
                <legend>{% block head_title %}{% trans "My Menu" %}{% endblock %}</legend>
            </div>
            <div class="row">
                <a class="btn btn-primary"
                   href="{% url "owner_create_food" %}">{% trans "New Food" %}</a>
            </div>
            <div class="row">
                {% if foods %}
                    {% for food in foods %}
                        <a href="{% url 'owner_edit_food' food.pk %}">{{ food.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
