{% extends "ET_Owner/base_nav.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Thia is the owner restaurant information page.
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if couriers %}
                <div class="list-group">
                    {% for courier in couriers %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">Courier No.{{ forloop.counter }}</h4>
                            <p class="list-group-item-text">Name: {{ courier.user.first_name }}</p>
                            <p class="list-group-item-text">Account: {{ courier.account }}</p>
                            <div class="row">
                                <a class="btn pull-right" href="{% url 'owner_edit_courier' courier.pk %}"
                                   style="width: 60px;height: 30px;background-color: #ffe027; border: medium">Edit
                                </a>
                                <a type="button" style="width: 60px;height: 30px;background-color: #c9cfb1"
                                   href="{% url 'owner_delete_courier' courier.pk %}"
                                   class="btn pull-right">Delete
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <a href="{% url "owner_create_courier" %}" style="width: 120px;height: 30px;background-color: #ffe027"
                   class="btn btn-danger; pull-right">Add Courier
                </a>
            </div>
            </br>
        </div>
    </div>
{% endblock %}

