{% extends "ET_Owner/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    Thia is the owner login page.
{% endblock %}

{% block topbar_label %}Owner Login{% endblock %}

{% block body %}
    <div class="Page_title">
        <p align="center">
            <a input style="font-family: Calibri; font-size: 300% ; color: #ffb125; " class="Page_title"> Welcome to
                EaTogether! </a>
        </p>
    </div>

    <br/>

    {% crispy form %}

    {% if password_reset_url %}
        <div class="Retrive_Password">
            <p align="center">
                <a input style="font-family: Calibri;line-height: 20px"> Don't worried if you </a>
                <a input style="font-family: Calibri;line-height: 20px" href="{{ password_reset_url }}"
                   class="btn btn-link">forget password.</a>
            </p>
        </div>
    {% endif %}

    {% if signup_url %}
        <div class="Register">
            <p align="center">
                <a input style="font-family: Calibri;line-height: 20px; color: #101010"> Have a restaurant? </a>
                <a input style="font-family: Calibri;line-height: 20px" href="{{ signup_url }}">Register now!</a>
                <br/>
                <br/>
                <br/>
                <br/>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_{{ form.identifier_field }}').focus();
        });
    </script>
{% endblock %}
