{% extends "site_base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Thia is the owner retrieve password page.
{% endblock %}

{% block body%}
    <div class="row" style="background: url('{{ STATIC_URL }}img_owner/flower.gif') no-repeat;">
       <div>
           <img src="{% static "img_owner/brand_et_piconly.png" %}" height="26" class="pull-right"/>
           <a input style="font-family: Calibri; color:  #f6ae09; font-size: 100%" class="pull-right">EaTogether - Eat Now, Eat Together - Password Retrieve</a>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
       </div>
    </div>



    < <div class="Page_title">
        <a input style="font-family: Calibri; font-size: 300% ; color: #ffb125; " class="Page_title""> Retrieve Password
        </a>
    </div>

    <form method="post" action="../">
        <a input style="font-family: Calibri;line-height: 30px"> Phone Number*
        </a>
        </br>
        <input type="text" id="food_name_r" style="width: 300px" name="food_r" placeholder="Phone number" />
        </br>
        <img class="J-setted-avatar" src="{% static "img_owner/brand_et_piconly.png" %}" height="26"  />
        </br>
        <button type="submit";input style="width: 180px;height: 30px;background-color: #ffea2e">Next
        </button>
        </br>
    </form>
{% endblock %}

