{% extends "ET_Owner/base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block head_title %}
    Thia is the owner food edit page.
{% endblock %}

{% block topbar_label %}Food Edit{% endblock %}

{% block body %}
    <div class="Page_title">
        <a input style="font-family: Calibri; font-size: 300% ; color: #ffb125; " class="Page_title"">{% if food %}Edit your food{% else %}Create your food{% endif %}
        </a>
    </div>

    <form id="signup_form" method="post" action="." autocapitalize="off"
            {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" style="width: 180px;height: 30px;background-color: #ffea2e">Save
        </button>
        </br>
    </form>
{% endblock %}

