<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EaTogether - Eat Now, Eat Together - Owner Register</title>
</head>

<body>

<pre>

</pre>

<div class="Top-banner">
  <div class="Page_title">
      <a input style="font-family: Calibri; font-size: 300% ; color: #21b124;"> Register Information </a>
      <pre>

      </pre>
  </div>
</div>

<pre>

</pre>

<div class="Register">
  <div class="Restaurant">
      <div class="Name">
          <a input style="font-family: Calibri;line-height: 30px"> Name* </a>
      </div>

      <div class="Name">
          <div class="Input_name">
              <input type="text" id="register_given_name_r" name="given_name_r" placeholder="Given Name" />
              <input type="text" id="register_family_name_r" name="family_name_r" placeholder="Family Name" />
          </div>
      </div>

      <div class="Phone">
          <a input style="font-family: Calibri;line-height: 30px"> Phone Number* </a>
      </div>

      <div class="Phone">
          <div class="Input_phone">
              <input type="text" id="register_phone_r" name="phone_r" placeholder="Phone Number" />
              <input style="width: 180px; height: 30px ;background-color: #b5ff8a" type="submit" class="btn"  value="Send Verify SMS" />
          </div>
      </div>

      <div class="Verify">
          <a input style="font-family: Calibri;line-height: 30px"> Verify Code* </a>
      </div>

      <div class="Verify">
        <div class="Input_verify_SMS">
            <input type="text" id="register_verify_SMS" name="verify_SMS" placeholder="Verify Coder" />
        </div>
      </div>

      <div class="Password">
          <a input style="font-family: Calibri;line-height: 30px"> Password* </a>
      </div>

      <div class="Password">
          <div class="Input_password">
              <input type="password" id="login_password_r" name="password_r" placeholder="password" />
          </div>
      </div>
<pre>

</pre>
      <div class="Submit">
          <input style="width: 180px; height: 70px ;background-color: #ec971f;" type="submit" class="btn" name="verify" value="I'm not a robot" />
          <input style="width: 180px; height: 70px ;background-color: #b5ff8a;" type="submit" class="btn" name="commit" value="Submit" />
      </div>
  </div>
</div>
</body>
</html>