{% extends "ET_Owner/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    Thia is the owner register page.
{% endblock %}

{% block topbar_label %}Owner Register{% endblock %}

{% block body %}
    <div class="Page_title">
        <a input style="font-family: Calibri; font-size: 300% ; color: #ffb125; " class="Page_title""> Register
        Information
        </a>
    </div>

    {% crispy form %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_first_name').focus();
        });
    </script>
{% endblock %}
