{% extends "ET_Owner/base_nav.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Thia is the owner orders page.
{% endblock %}

{% block topbar_label %}Orders From Customers{% endblock %}

{% block body %}
    <div class="thumbnail" style="border-color: #f2d798">
        <div class="list-unstyled">
            <div class="row">
                <div class="col-sm-4">
                    <p style="font-family: Calibri;line-height: 20px; color: #636363; font-size: 120%"
                    >&nbsp;Order ID:</p>
                </div>
                <div class="col-sm-4">
                    <p style="font-family: Calibri;line-height: 20px; color: #636363; font-size: 120%"
                    >&nbsp;Group ID:</p>
                </div>
                <div class="col-sm-4">
                    <p style="font-family: Calibri;line-height: 20px; color: #636363; font-size: 120%"
                    >&nbsp;Order Time:</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <p style="font-family: Calibri;line-height: 20px; color: #636363; font-size: 120%"
                    >&nbsp;Destination:</p>
                </div>
                <div class="col-sm-2">
                    <button type="button" style="width: 120px;height: 30px;background-color: #ffe027; border: medium"
                            class="btn btn-primary; pull-right"
                    >Accept
                    </button>
                </div>
            </div>

        </div>
        <br/>
        <br/>

        <div class="row">
            <div style=" border-right: solid; border-width: 1px; border-color: #f2d798"
                 class="col-sm-4">
                <ul class="list-unstyled">
                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Customer 1</p>
                    </li>
                    <li>
                        <ul>
                            <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                                   class="list-group-item-text"
                            >Food 1*2:$</p>
                            </li>

                            <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                                   class="list-group-item-text"
                            >Food 2*1:$</p>
                            </li>
                        </ul>
                    </li>

                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Customer 2</p>
                    </li>
                    <li>
                        <ul>
                            <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                                   class="list-group-item-text"
                            >Food 1*2:$</p>
                            </li>

                            <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                                   class="list-group-item-text"
                            >Food 2*1:$</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div style="border-right: solid; border-width: 1px; border-color: #f2d798"
                 class="col-sm-3">
                <ul class="list-unstyled">
                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Total(without discount):$</p>
                    </li>

                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Discount 1:$</p>
                    </li>

                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Discount 2:$</p>
                    </li>

                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Delivery Fee:$</p>
                    </li>
                    <li>
                        <hr style="border-color: #f2d798">
                    </li>
                    <li><p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text"
                    >Total:$</p>
                    </li>
                </ul>
            </div>


            <div class="col-sm-5" style="padding: 0">
                <div class="container">
                    <table style="width: 29%"
                           class="table table-striped">
                        <tbody>
                        <tr>
                            <td style="font-size: 20%; color: #414141">Group Created</td>
                            <td style="font-size: 20%; color: #414141">hh-mm/dd-mm-yy</td>
                        </tr>

                        <tr>
                            <td style="font-size: 20%; color: #414141">Group Time Exceed</td>
                            <td style="font-size: 20%; color: #414141">xxxx</td>
                        </tr>

                        <tr>
                            <td style="font-size: 20%; color: #414141">Order Accepoted</td>
                            <td style="font-size: 20%; color: #414141">xxx</td>
                        </tr>

                        <tr>
                            <td style="font-size: 20%; color: #414141">Delivery Started</td>
                            <td style="font-size: 20%; color: #414141">xx</td>
                        </tr>

                        <tr>
                            <td style="font-size: 20%; color: #414141">Delivery Confirmed</td>
                            <td style="font-size: 20%; color: #414141">xxx</td>
                        </tr>
                        </tbody>

                        <tr style="background-color: transparent">
                            <td>
                            </td>
                            <td>
                                <button type="button"
                                        style="width: 150px;height: 30px;background-color: #ffe027; border: medium"
                                        class="btn btn-primary; center-block"
                                >Start Delivery
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>


            </div>
        </div>
    </div>



{% endblock %}


