{% extends "ET_Owner/base_nav.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Thia is the owner menu page.
{% endblock %}

{% block body %}
    <div class="row">
        <div class="row">
            <div class="col-sm-4" style="height: 200px">
                <div class="panel panel-warning" style="border-color: #ffeca4; height: 200px">
                    <div class="panel-heading">
                        <p style="border-color: #ffe027;font-family: Calibri;line-height: 30px;font-size: 120%"
                           align="center" class="list-group-item-text">Detail</p>
                    </div>
                    <div class="panel-body">
                        <p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text">Min.Delivery: {{ service.min_delivery }}$</p>
                        <p style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text">Delivery Fee: {{ service.delivery_fee }}$</p>
                        <c style="font-family: Calibri;line-height: 30px;font-size: 120%"
                           class="list-group-item-text">Discount:
                        </c>
                        <c style="font-family: Calibri;line-height: 30px;font-size: 100%"
                           class="list-group-item-text">Actually, this is what we want, isn't it?
                        </c>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="height: 200px">
                <div class="panel panel-warning" style="border-color: #ffeca4; height: 200px">
                    <div class="panel-heading">
                        <p style="border-color: #ffe027;font-family: Calibri;line-height: 30px;font-size: 120%"
                           align="center" class="list-group-item-text">
                            Announcement</p>
                    </div>
                    <div class="panel-body">
                        <p style="word-break:break-all;border-color: #ffe027;font-family: Calibri; font-size: 100%"
                           class="list-group-item-text">{{ service.announcement }}
                        </p>
                        <button class="btn btn-primary; pull-right" type="button"
                                style="width: 60px;height: 30px;background-color: #ffe027; border: medium">Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="height: 200px">
                <br/>
                <p align="center" style="font-family: Calibri;line-height: 30px;font-size: 180%"
                   class="list-group-item-text">Now Open</p>
                <br/>
                <button class="btn btn-primary; center-block" type="button"
                        style="width: 120px;height: 30px;background-color: #ffe027; border: medium">Close Now
                </button>
            </div>
        </div>

        <div class="row">
            <a class="btn btn-primary"
               href="{% url "owner_create_food" %}">{% trans "New Food" %}</a>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                {% if foods %}
                    {% for food in foods %}
                        <a href="{% url 'owner_edit_food' food.pk %}">{{ food.name }}</a>

                        <li><img src="{{ food.picture.url }}" class="img-circle"
                                 alt="Cinque Terre"
                                 width="200px" height="200px">
                            <br/>
                            <div class="row">
                                <a class="btn btn-large"
                                   style="border: hidden;background: none"><i class="fa fa-trash"></i></a>
                                <a href="{% url 'owner_edit_food' food.pk %}"
                                   class="btn btn-large"
                                   style="border: hidden;background: none"><i class="fa fa-edit"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

        </div>

    </div>
{% endblock %}


