{% extends "ET_Owner/base_nav.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block head_title %}
    Thia is the owner restaurant information page.
{% endblock %}

{% block topbar_label %}my restaurant information{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-lg-10">
            <form id="signup_form" method="post" action="." autocapitalize="off"
                    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                <legend>{% trans "General Information" %}</legend>
                {{ form.forms.general|bootstrap }}
                <br>
                <legend>{% trans "Sufficient Valid Information" %}</legend>
                {{ form.forms.valid|bootstrap }}
                <button type="submit" style="width: 180px;height: 30px;background-color: #ffea2e">Submit
                </button>
                </br>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
