{% extends "ET_Owner/base_nav.html" %}

{% load i18n %}
{% load static %}
{% load courier_name_tag %}

{% block head_title %}
    Thia is the owner restaurant information page.
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if couriers %}
                <div class="list-group">
                    {% for courier in couriers %}
                        <a href="{% url 'owner_edit_courier' courier.pk %}">{{ courier.user.username|courier_name }}</a>
                        <li>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">Courier No.1</h4>
                                <p class="list-group-item-text">Name:</p>
                                <p class="list-group-item-text">Account:</p>
                                <p class="list-group-item-text">Password:</p>
                                <button class="btn btn-primary; pull-right" type="button" ;input
                                        style="width: 60px;height: 30px;background-color: #ffe027; border: medium">Edit
                                </button>
                                <button type="button" ;input style="width: 60px;height: 30px;background-color: #c9cfb1"
                                        class="btn btn-danger; pull-right">Delete
                                </button>
                                </br>
                                </br>
                            </a>
                        </li>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <a href="{% url "owner_create_courier" %}" style="width: 120px;height: 30px;background-color: #ffe027"
                   class="btn btn-danger; pull-right">Add Courier
                </a>
            </div>
            </br>
        </div>
    </div>
{% endblock %}

